div
{
    background-color: #41e68b;
    padding: 20px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    background-color: rgb(220, 217, 87);
    padding: 15px;
    margin-left: 10px;
}

/* styles.css */
/*
.login-background {
    background-image: url('C:\\Users\\adity\\Downloads\\blur-hospital.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;  Adjust as needed 
}*/
/* 
.signup-background {
    background-image: url("C:\\Users\\adity\\Downloads\\back.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh; Adjust as needed
}
 */